<div class="contain">

    <h1>Welcome: {{ currentUser.name }}</h1>

    <div *ngIf="recipes">
        <h2>Recipes</h2>

        <div class="grid" *ngFor="let recipe of recipes">
            <div>
                <b>
                    {{recipe.name}}
                </b>
                
                <button mat-raised-button color="primary" (click)="showCheckList(recipe)">
                    Check List
                </button> 
                <br>
                Description: {{recipe.description}} 
                <br>
                Ingredients
                <ul *ngFor="let recipeIngredient of recipe.recipeIngredients">
                    <li>
                        {{recipeIngredient.ingredient.name}} 
                        <br>
                        Description: {{recipeIngredient.ingredient.description}}
                    </li>
                </ul>
            </div>
        </div>
        <br>
        <h3>
            Check List
        </h3>
        <div *ngIf="activeCheckList">
            <mat-selection-list #list (selectionChange)="onCheckListChange($event, list)">
                <mat-list-option *ngFor="let checkListItem of activeCheckList.checkListItems" [selected]="checkListItem.checked" [value]="checkListItem">
                    {{checkListItem.ingredient.name}}
                </mat-list-option>
            </mat-selection-list>
        </div>

    </div>
    <br>
    <button mat-raised-button color="primary" (click)="logout()">
        Log out
    </button>

</div>
